{% extends 'basis.html' %}

{% block title %}
Транспорт области
{% endblock %}

{% block body %}

<h1>Транспорт области: куда и как добраться</h1>

<div class="block">
  <p class="base_text">
    В иркутской области широко представлен весь существующий транспорт:
    наземный (железнодорожный и автомобильный), водный и воздушный. Разные регионы
    области имеют разный же свой основной способ добраться из и в них.
  </p>
  <div class="imgholder">
    <img class="block_image" src="{{ url_for('static', filename='pic/road_map.png') }}" alt="Ошибка при загрузке фото">
  </div>
</div>

<h2>Общая транспортная обстановка</h2>

<div class="block">
  <p class="base_text">
    Иркутская область - самый большой регион России, не имеющий доступа к
    морю. Поэтому тут не присутствует морской транспорт в привычном виде,
    так как на Байкале судоходство огранчиено экологическими нормами.
  </p>
  <p class="base_text">
    Несмотря на то, что соседние Якутия и Красноярский край имеют кратно большие размеры,
    иркутская область протянулась по долготе на 1450 км, с запада на восток — на 1318 км.
    Это больше любого государства Европы, что оначает, что транспорт  критически важен для области.
  </p>
  <p class="base_text">
    И транспорт действительно связывает всю эту огромную территорию воедино. На юге
    основной транспорт - наземный. Там присутствует густая автомобильная сеть и линия
    старейшей железной дороги России - Транссиб, на который нанизаны почти все города юга.
  </p>
</div>

<h2>Железнодорожный транспорт</h2>

<div class="block">
  <p class="base_text">
    По территории области Проходит две железные дороги: транссиб, построеный еще во времена
    Российской Империи, и только недавно окончательно введенная в полную эксплуатацию БАМ,
    Байкало-амурская магистраль. Первый обслуживает юг области, и транссиб вследствие количества
    населения является самой нагруженной ж/д веткой области. БАМ же проходит по северу области, и он
    позволяет людям оттула добираться до "большой земли", особенно важен он для Усть-Илимска и Бодайбо.
  </p>
  <div class="imgholder">
    <img class="block_image" src="{{ url_for('static', filename='pic/transsib.jpg') }}" alt="Ошибка при загрузке фото">
  </div>
  <p class="base_text">
    Транссиб проходит через следующие города: Тайшет, Тулун, Нижнеудинск, Зима, Черемхово,
    Усолье-сибирское, Ангарск, Иркутск, Шелехов, Слюдянка, Байкальск.
  </p>
  <p class="base_text">
    Ну а БАМ, великая северная дорога, начинается от Тайшета. Далее она идет на север,
    к Братску, через поселки строителей вокруг, через одну из мощнейших ГЭС в России,
    Братскую, затем поворачивает на восток и проходит через Железногоск-Илимский, после
     него ответвляясь на север подходит к Усть-Илимску, а основная часть дальше идет
     через Усть-Кут, Магистральный, Улькан и уходит в Бурятию. Там БАМ идет через Северобайкальск
     и множество поселков строителей этого чуда инженерной мысли. Попутно встречается уже
     не функционирующий чертов мост и великий северо-муйский перевал. И оканчивается
     электрифицированная часть Байкало-Амурской магистрали в Таксимо - это длижайшая
     станция для жителей Бодайбо. Далее путь уходит в Забайкальский край и Амурскую область.
     От Улькана, где начинается хребет Дабан, и вплоть до почти что Тынды, столицы БАМа, он
     идет через горы и прорезает один хребет за другим. Северомуйский тоннель достроили совсем
     недавно, в декабре 2003 года, хотя сама магистраль начата была еще при Сталине! Тогда ее
     возводили силами ГУЛАГов. Но основное, и самое тяжелое строительство началось в 67-ом.
     И через 17 лет, в 1984, на станции Куанда было уложено золотое звено, соединились две
     части этой дороги. Но была и проблема. Огромная "кишка" у северо-муйского перевала в
     Бурятии. Тоннель под этим мостом, как говорилось, был сдан в 2003, а начат аж в 1977 году.
     Природу побеждали целых 26 лет.
  </p>
  <p class="base_text">
    Теперь вновь перенесемся на юг. От Байкальска ответвляется Кругобайкальская железная дорога, или КБЖД.
    Она не проходит через города, несет только туристическую функцию. Идет от Слюдянки до Байкала
    (противоположный берег Ангары у самого ее истока, напротив Листвянки), это 89 километров.
    КБЖД проложена в крайне сложных условиях. По насыщенности инженерными сооружениями (на длину)
    эта дорога не имеет равных в России и выходит на первые места в мире. С нее открываются шикарные
    виды на Байкал и Приморский хребет, дорога постоянно петляет, скорость движения поэтому весьма невысокая.
  </p>
  <p class="base_text">
    Колея на обоих дорогах - стандартная российская, 1524 мм. Напряжение тоже стандартное, 50Гц и 25кВ.
    Скорости на равнинных участках, как правило, в районе 110 км/ч. В горах могут быть самые разные, вплоть до 30 км/ч.
  </p>
</div>


{% endblock %}
